
.header-top {
    height: 175px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
     }
.text {
    text-align:center;
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

label;
font-family: 'Poiret One', cursive;
}
.floated_img
{
    float: left;
}
img {
    width: 600px;
    height:450;
}
.group {
    border:1px solid #eee;
    background-color:#dcdcdc;

figure {
    background-image: url("../img/salad.jpg");
    }
figure {
    background-image: url("../img/tree.jpeg");
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}